// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$button_red: #da0000;

.remove-button:hover {
  color: $button_red;
  background-color: unset;
}

.remove-button-column {
  color: $button_red;
}